@tailwind base;
@tailwind components;
@tailwind utilities;



.button-style {
  @apply text-xl xsize:text-sm px-4 py-2 w-full bg-btnBlue rounded-[3px] active:shadow-custom-shadow  text-white;
}


.button-styleReceipt {
  @apply text-sm xsize:text-sm xsize:rounded-[1px]  px-4 py-1 w-full rounded-[3px] active:shadow-custom-shadow  text-btnBlue border-btnBlue; 
}

.button-styleReceipt-white {
  @apply text-sm xsize:text-sm xsize:rounded-[1px]  px-4 py-1 w-full rounded-[3px] active:shadow-custom-shadow  text-white 
;
}


:root {
  --background: #F6F9FB;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F9FB;
    --foreground: #363636;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight:100 ;
  font-style: normal;
  
}


.heading {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  color: #287DCE;
}



.content {
  font-family: 'Outfit', sans-serif;
  color: #505050;
  font-weight: 200;
}
.content-white {
  font-family: 'Outfit', sans-serif;
  color: #fefefe;
  font-weight: 200;
  
}


.InvSumContentweight {
  font-family: 'Outfit', sans-serif;
  color: #505050;
  font-weight: 400;
  font-size: small;
}


/* styles.css or global.css */
.responsive-logo {
  /* width: 200px; */
  height: 50px;
}

@media (min-width: 320px) { 
.InvSumContent {
  font-family: 'Outfit', sans-serif;
  color: #505050;
  font-weight: 100;
  font-size: 12px;
}
}
@media (min-width: 1024px) { 
.InvSumContent {
  font-family: 'Outfit', sans-serif;
  color: #505050;
  font-weight: 100;
  font-size: 14px;
}
}


@media (min-width: 640px) { /* Small screens */
  .responsive-logo {
    height: 50px;
  }
  
}

@media (min-width: 768px) { /* Medium screens */
  .responsive-logo {
    height: 50px;
  }
}

@media (min-width: 1024px) { /* Large screens */
  .responsive-logo {
    height: 50px;
  }
  
}


/* styles.css or global.css */
.responsive-WhiteLabeled {
  width: 50px; /* Default for mobile */
  height: 50px;
}


@media (min-width: 640px) { /* Small screens */
  .responsive-WhiteLabeled {
    width: 50px;
    height: 50px;
  }
 
}

@media (min-width: 768px) { /* Medium screens */
  .responsive-WhiteLabeled {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1024px) { /* Large screens */
  .responsive-WhiteLabeled {
    width: 50px;
    height: 50px;
  }
}